{% extends 'home/base.html' %}
{% load static %}

{% block content %}
      <div class="container marketing">
        <div class="container">
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">NewBank Cards</h1>
            <p class="lead">
                      Manage your finances effortlessly with our secure and convenient bank card services. 
                      Enjoy fast payments, worldwide acceptance, and real-time transaction tracking at your fingertips. 
                      Stay in control with smart features designed for everyday use.
            </p>
          </div>

          <div class="card-deck mb-4 text-center">

              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Uzcard / Humo</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ year</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Free card issuance</li>
                    <li>No Transaction Fees with Uzcard / Humo</li>
                    <li>ATM Fee Reimbursements</li>
                    <li>Email support</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
              </div>

              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Mir / UnionPay</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ year</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Free card issuance</li>
                    <li>No Transaction Fees with Mir / UnionPay</li>
                    <li>ATM Fee Reimbursements</li>
                    <li>Priority phone and email support</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">See details</button>
                </div>
              </div>

              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Visa / MasterCard</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ year</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Free card issuance</li>
                    <li>No International Transaction Fees with Visa / MasterCard</li>
                    <li>ATM Fee Reimbursements</li>
                    <li>Priority phone and email support</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                </div>
              </div>

            </div>
        </div>

        <hr class="featurette-divider">
        <br><br>

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Seamless Transactions <span class="text-muted">Experience the ease of managing your finances.</span></h2>
            <p class="lead">
              With our user-friendly interface, you can effortlessly track your spending, set budgets, and receive real-time notifications. 
              Say goodbye to financial stress and hello to financial freedom with our seamless transaction management.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeKbRYaYCjnUWRkLxc370FvPmAT9pkA8Kceg&s" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Global Access <span class="text-muted">Banking without borders.</span></h2>
            <p class="lead">
              Access your accounts from anywhere in the world, at any time. Our platform ensures that you can manage your finances seamlessly, whether you're at home or traveling abroad.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_SktqX7QDq4uDG93uWvg-QmzQ_vnCBBsdWQ&s" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Advanced Security <span class="text-muted">Your safety is our priority.</span></h2>
            <p class="lead">
              With our state-of-the-art security measures, your personal and financial information is always protected. We employ advanced encryption, multi-factor authentication, and continuous monitoring to ensure your data remains safe and secure.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStlbQQ3T2VICL1pp3EhjCDPr3EuAuoJbf9Ig&s" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

      </div><!-- /.container -->


{% endblock %}